.gasto-section{
    text-align: center;
    padding: 0px 25px;
}

.gasto-total{
    margin-top: 40px;
    font-size: 9rem;
    letter-spacing: .25px;
    color: hsl(41, 100%, 50%);
}

.gasto-subtitle{
    color: hsl(0, 0%, 21%);
    font-size: 1.8rem;
}

.inputs-container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.tempo-input input, .peso-input input, .velo-input input{
    font-size: 1.45rem;
    margin-bottom: 15px;
    padding: 5px;
    outline: none;
}

.tempo-input h3, .peso-input h3, .velo-input h3{
    font-family: 'DM Sans';
    color: hsl(0, 100%, 19%);
}

.calc-btn{
    background-image: linear-gradient(135deg, hsl(34, 100%, 50%), hsl(44, 100%, 49%));
    margin: 55px 0;
    border: none;
    border-radius: 999px;
    padding: 13px 60px;
    font-size: 1.1rem;
    font-family: 'Red Hat Display';
    font-weight: bold;
}

.calc-btn:hover{
    cursor: pointer;
    background-image: linear-gradient(135deg, hsl(34, 100%, 74%), hsl(44, 100%, 76%));
}

.page-back-link{
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 15px;
    max-width: fit-content;
    padding: 8px;
}

.page-back-link:hover{
    color: hsl(0, 0%, 47%);
}

.page-back-link .icon{
    flex-shrink: 0;
}

@media screen and (max-width: 700px){

    .gasto-total{
        font-size: 6.7rem;
    }

    .gasto-subtitle{
        font-size: 1.5rem;
    }
    
    .tempo-input input, .peso-input input, .velo-input input{
        font-size: 1.2rem;
    }

}