*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body, html{
    scroll-behavior: smooth;
}

html{
    scrollbar-color: hsl(44, 100%, 50%) black;
}

body{
    font-family: 'Inter', 'DM Sans', 'Red Hat Display', sans-serif;
}